

<div class="gantt-line">
                <span>
                  <svg width="12px" height="12px"><circle fill={{@job.color}} cx="5" cy="6" r="5" width="9" height="9"></circle></svg>
                  {{@job.title}}
                </span>
  
  <div class="gantt-line-timeline">
      <div class="gantt-line-bar" >
         <!--  PROJECT TOP LINE -->
	 <!--
         <GanttLineInlineChilds @project={{@project}}/>
	 -->
         <GanttLineInlineChilds @chart={{@chart}} @parentLine={{this}}/>
      </div>
  </div>

</div>


