
<!--
GANTT-LINE
<hr>

  <li>{{@dateStart}}</li>
  <li>{{@dateEnd}}</li>
  
  <li>{{@title}}</li>
<hr>
-->

<GanttLineTitle @project={{@project}}>
</GanttLineTitle>

<GanttLineInlineChilds @project={{@project}}>
</GanttLineInlineChilds>

