

<div class="gantt-line">
<!--
  <GanttLineTitle @project={{@project}} />
-->
  <GanttLineTitle @project={{@project}}  @onClick={{this.collapse_toggle}} />
  
  <div class="gantt-line-timeline">

       <div class="gantt-line-bar" style={{this.barStyle}} title={{this.barTitle}} >

<!--
         <GanttLineInlineChilds  @project={{@project}}  @childLines={{@project.jobs}} @chart={{@chart}} @setTopLine={{this.setTopLine}}
                                @parentLine={{this}} @minStartDate={{@project.minStartDate}}  
                            />
-->

          <div class="gantt-line-bar-content ember-view">{{@project.title}}</div>

	 
      </div>

  </div>

</div>

{{! child lines }}

<div class="gantt-line-childs">


   <BsCollapse @collapsed={{this.collapsed}}  >
       {{#unless this.collapsed }}

           {{#each @project.jobs as |job|}}     
                 <!--
                 <GanttLineInlineChilds    
                             @job={{job}}  
                             @parentLine={{this}}  
                             @chart={{@chart}} @project={{@project}}
                             @chartElement={{@chartElement}}
                             @onDataUpdate={{this.onDataUpdate}}

                 />
                 -->

                 <ChildLine  @job={{job}}
                             @parentLine={{this}}
                             @chart={{@chart}}
                             @project={{@project}}
                             @chartElement={{@chartElement}}
                             @onDataUpdate={{this.onDataUpdate}}
                             >
                 </ChildLine>

           {{/each}}     

       {{/unless}}

   </BsCollapse>

</div>
