

<div class="gantt-line">
  <GanttLineTitle @project={{@project}}/>
  
  <div class="gantt-line-timeline">

       <div class="gantt-line-bar" style={{this.barStyle}} title={{this.barTitle}} >

         <GanttLineInlineChilds  @project={{@project}}  @childLines={{@project.jobs}} @chart={{@chart}}
                                @parentLine={{this}}  
                            />
	 
      </div>
  </div>

</div>

{{! child lines }}

<div class="gantt-line-childs">
 {{#each @project.jobs as |job|}}     
       <!--
       <GanttLineInlineChilds  @project={{@project}}/>
       -->
       
       <ChildLine  @job={{job}}
                   @parentLine={{this}}
                   @chart={{@chart}}
                   >
       </ChildLine>
       
 {{/each}}     

</div>

