<div class="gantt-chart">
   <div class="gantt-chart-innner">
   
     <GanttTimeline  @showToday={{this.showToday}} @chart={{this}} />
   
     <div class="gantt-lines">
        {{#each this.projects as |project|}}
             <GanttLine  @dateStart={{project.minStartDate}}
                         @dateEnd={{project.maxEndDate}}
           	         @inlineChilds={{project.jobs}}
           	         @title={{project.title}}
           	         @project={{project}}
           	         @chart={{this}}
           	         as |line|>
             </GanttLine>
        {{/each}}
     </div>

   </div>
</div>
