

<div class="gantt-line">
  <GanttLineTitle @project={{@project}}/>
  
  <div class="gantt-line-timeline">
      <div class="gantt-line-bar" >
         <!--  PROJECT TOP LINE -->
	 
         <GanttLineInlineChilds  @project={{@project}}/>
	 
      </div>
  </div>

</div>

{{! child lines }}

<div class="gantt-line-childs">
 {{#each @project.jobs as |job|}}     
       <!--
       <GanttLineInlineChilds  @project={{@project}}/>
       -->
       
       <ChildLine  @job={{job}}
                   @parentLine={{this}}
                   @chart={{@chart}}
                   >
       </ChildLine>
       
 {{/each}}     

</div>

